- var riskyBusiness = "<em>Some of the girls are wearing my mother's clothing.</em>";
.quote
  p Joel: !{riskyBusiness}
//- <div class="quote"><p>Joel: <em>Some of the girls are wearing my mother's clothing.</em></p></div>
